* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: blueviolet;
}

.container {
    padding: 15px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    max-height: 600px;
    background-color: #FFF;
    box-shadow: 1px;
    border-radius: 10px;
    gap: 20px;
    margin: 50px 0px;
}

.display_inpute {
    width: 300px;
    height: 50px;
    border-radius: 10px;
}

.buttons {
    display: flex;
    justify-content: baseline;
    flex-wrap: wrap;
    gap: 10px;

}

.btn {
    width: 70px;
    height: 70px;
    background-color: #d9d9d9;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_2 {
    width: 150px;
    height: 70px;
    background-color: yellow;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons p:hover {
    filter: brightness(80%);
}