* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: blueviolet;
}

.container {
    padding: 15px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    max-height: 600px;
    background-color: #FFF;
    box-shadow: 1px;
    border-radius: 10px;
    gap: 20px;
    margin: 50px 0px;
}

.display{
    width: 300px;
    height: 70px;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0px 10px;
}

.entered_num{
    display: none;
    font-size: 20px;
}

.display_inpute{
    font-size: 40px;
    /* font-size: 20px; */
}

.buttons {
    width: 320px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
    margin: 0 auto;
}

.btn {
    width: 70px;
    height: 70px;
    background-color: #d9d9d9;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_2 {
    width: 150px;
    height: 70px;
    background-color: yellow;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons p:hover {
    filter: brightness(80%);
}